<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
    >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../resources/style.css">
    <script src="https://kit.fontawesome.com/088c27f93f.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar custom-navbar sticky-top">
      <div class="container-fluid">
          <!-- titles -->
          <div class="d-flex align-items-center">
              <a class="navbar-brand" href="#">E. Wallis McGuire</a>
              <ul class="navbar-nav d-flex flex-row gap-3">
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="home.html">
                      <i class="fa-solid fa-house"></i>
                      Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="hobbies.html">
                      <i class="fa-solid fa-heart"></i>
                      Hobbies</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="projects.html">
                      <i class="fa-solid fa-file"></i>
                      Projects</a>
                  </li>
              </ul>
          </div>
          <!-- logo -->
          <a class="navbar-brand ms-auto" href="home.html">
            <img src="../resources/img/marshall.gif" alt="logo" width="55" height="35">
          </a>
        </div>
  </nav>

  <!-- title -->
  <p class="text-start fs-1 m-4">
    ─ ⊹⊱ Interests ⊰⊹ ─
  </p>

  <!-- hobby divider -->
  <div class="row">
    <!-- hobby cards -->
    <div class="card m-4 flex-column" style="width: 18rem;">
      <img src="../resources/img/embed_soft.png" 
      class="card-img-top" 
      alt="embed_soft"
      width="50"
      height="200">
      <div class="card-body">
        <p class="card-title fs-4">
          Embedded Software</p>
        <p class="card-text">Combines hardware and software
          for specialized tasks for all kinds of devices. Smartwatches and cars
          are some of the devices that use embedded software and these devices are
          used by people everyday, which is exactly the kind of impact I want to make in
          people's lives.
        </p>
      </div>
      <img src="../resources/img/octo.webp" 
      class="rounded mx-auto d-block mb-3" 
      alt="fran_symbol"
      width="50"
      height="50">
    </div>
    <div class="card m-4 flex-column" style="width: 18rem;">
      <img src="../resources/img/med.jpg" 
      class="card-img-top" 
      alt="medicine"
      width="50"
      height="200">
      <div class="card-body">
        <p class="card-title fs-4">
          Medicine</p>
        <p class="card-text">
          With a passion for helping people, medicine is always something in
          the back of my mind. There is many instances, too, where medecine can
          be combined with technology to improve people's lives and that is 
          something I am always willing to be a part of.
        </p>
      </div>
      <img src="../resources/img/cat1.webp" 
      class="rounded mx-auto d-block mb-3" 
      alt="fran_symbol"
      width="50"
      height="50">
    </div>
    <div class="card m-4 flex-column" style="width: 18rem;">
      <img src="../resources/img/judo.png" 
      class="card-img-top" 
      alt="judo"
      width="50"
      height="200">
      <div class="card-body">
        <p class="card-title fs-4">
          Judo</p>
        <p class="card-text">As an avid participant in Japanese culture, whether that be
          the art, language, animation, or sport, and judo combines all of these things for me.
          This ruthless sport teaches patience, determination, and defense all of which are useful
          traits that I practice in my everyday activites as well.
        </p>
      </div>
      <img src="../resources/img/rhino.webp" 
      class="rounded mx-auto d-block mb-3" 
      alt="fran_symbol"
      width="50"
      height="50">
    </div>
    <div class="card m-4 flex-comlumn" style="width: 18rem;">
      <img src="../resources/img/dance.png" 
      class="card-img-top" 
      alt="dance"
      width="50"
      height="200">
      <div class="card-body">
        <p class="card-title fs-4">
          Irish Dance</p>
        <p class="card-text">
          Irish is my ethnicity and practicing Irish dance allows me an outlet to
          appreciate my culture in a beautiful form. It is said that Irish dancers dance
          with their arms down in order to hide their sacred dance from the British that 
          tried to stop any form of appreciation for the Irish. This determination and aptitude 
          is something I try to exemplify in my life as well.
        </p>
      </div>
      <img src="../resources/img/koala.gif" 
      class="rounded mx-auto d-block mb-3" 
      alt="fran_symbol"
      width="50"
      height="50">
    </div>
  </div>

  <!-- footer -->
  <footer class="sticky-bottom mt-5 py-3 bg-light">
    <div class="container text-center">
        <div class="d-flex justify-content-center gap-3">
            <a href="https://github.com/wammo9">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="www.linkedin.com/in/elizabeth-wallis-mcguire-engineering">
              <i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://www.instagram.com/walli._.pop/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="mailto:mcguire.elizabeth999@gmail.com">
              <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
  </footer>

</body>
</html>
