<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
    >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../resources/style.css">
    <script src="https://kit.fontawesome.com/088c27f93f.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar custom-navbar">
      <div class="container-fluid">
          <!-- titles -->
          <div class="d-flex align-items-center">
              <a class="navbar-brand" href="#">E. Wallis McGuire</a>
              <ul class="navbar-nav d-flex flex-row gap-3">
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="../../index.html">
                      <i class="fa-solid fa-house"></i>
                      Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="hobbies.html">
                      <i class="fa-solid fa-heart"></i>
                      Hobbies</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link d-flex flex-column align-items-center" 
                      href="projects.html">
                      <i class="fa-solid fa-file"></i>
                      Projects</a>
                  </li>
              </ul>
          </div>
          <!-- logo -->
          <a class="navbar-brand ms-auto" href="../../index.html">
            <img src="../resources/img/marshall.gif" alt="logo" width="55" height="35">
          </a>
        </div>
  </nav>

  <!-- little graphic again for my amusement -->
  <div class="container-fluid p-0">
    <img 
    src="../resources/img/flower.gif" 
    alt="flower" 
    class="img-center"
    width="1800"
    height="300"
    >
  </div>

  <!-- resume begin -->
  <p class="text-start fs-3 m-3">─ ⊹⊱ Education ⊰⊹ ─</p>
  <p class="text-center fs-6">University of Colorado Boulder</p>
  <p class="text-center fs-6">Electrical & Computer Engineering Major</p>
  <p class="text-center fs-6">Computer Science Major</p>
  <p class="text-center fs-6">GPA ~ 3.7</p>
  <p class="text-start fs-3 m-3">─ ⊹⊱ Computer Science ⊰⊹ ─</p>
  <p class="text-center fs-6">Python,  C, C++, Java, HTML, APL, J, Linux, and DART; App Development, 
    Artificial Intelligence, Cyber Security</p>
  <p class="text-start fs-3 m-3">─ ⊹⊱ Languages ⊰⊹ ─</p>
  <p class="text-center fs-6">English; French</p>
  <p class="text-start fs-3 m-3">─ ⊹⊱ Experience ⊰⊹ ─</p>
  <p class="text-center fs-6">CU Engineering Fellows</p>
  <p class="text-center fs-6">Learning Assistant</p>
  <p class="text-center fs-6">Calculus Tutor</p>
  <p class="text-center fs-6">Starwood Property Trust</p>

  <a href="../resources/Resume_web_dwnld.pdf" target="_blank" download="filename.pdf">
    <button>Download PDF</button>
  </a>

  <!-- footer -->
  <footer class="sticky-bottom mt-5 py-3 bg-light">
    <div class="container text-center">
        <div class="d-flex justify-content-center gap-3">
            <a href="https://github.com/wammo9">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="www.linkedin.com/in/elizabeth-wallis-mcguire-engineering">
              <i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://www.instagram.com/walli._.pop/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="mailto:mcguire.elizabeth999@gmail.com">
              <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
  </footer>

</body>
</html>
